<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
  </head>
  <body>
    <input type="text" placeholder="What is your name?" ng-model="name"/>
    <h1>My name is: {{name}}</h1>
    <select ng-model="breed">
      <option value="dogs">Dogs</option>
      <option value="cats">Cats</option>
      <option value="dogs and cats">Dogs and Cats</option>
      <option value="neither">Neither</option>
    </select>
    <h2>I love {{ breed }} <3</h2>
    <p>
      {{ 3.14159265359 | currency : '€' }}
      <br />
      {{3.14159265359 | number:3}}
      <br />
      {{3.14159265359 | number:6}}
      <br />
      {{3.14159265359 | number:1}}
      <br />
    </p>

    <h3>Say something</h3>
    <input type="text" ng-model="something" />
    <h3>Yelling: {{ something | uppercase }}</h3>
    <h3>Whispering: {{ something | lowercase }}</h3>


    <h3>How many digits do you want to round Pi to?
      <select ng-model="digits" ng-init="digits='1'">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
    </h3>

    <h4 >Great.  Let's round Pi to {{ digits }}
      <ng-pluralize count="digits"
                 when="{'one': 'digit.',
                     'other': 'digits.'}">
      </ng-pluralize>
    </h4>
    <h4>{{ 3.14159265359 | number : digits }}</h4>

    <h1>Tip Calculator</h1>
    <h3>Enter total bill amount: <input type="text" ng-model="bill" /></h3>
    <h3>Enter a tip amount:
      <select ng-model="tip" ng-init="tip='0.10'">
        <option value="0.10">10%</option>
        <option value="0.15">15%</option>
        <option value="0.20">20%</option>
      </select>
    </h3>
    <h4>Bill: {{ bill | currency}}</h4>
    <h4>Tip: {{ (bill * tip) | currency}}</h4>
    <h4>Total: {{  1 * bill + (bill * tip) | currency}}</h4>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </body>
</html>
