<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Part 5</title>
    <style>
      .green {
        color: green;
      }
      .red {
        color: red;
      }
    </style>
  </head>
  <body ng-init="names=['Mike', 'Ron', 'Hermione', 'Harry', 'Hedwig', 'Tonks']">

    <ul>
      <li ng-repeat="name in names">
        {{ name }}
      </li>
    </ul>

    <div ng-init="symbols=['&#9824;', '&#9829;', '&#9827;', '&#9830;']">
      <ul>
        <li ng-repeat="symbol in symbols">
          {{ symbol }}
        </li>
      </ul>
    </div>

    <div ng-init="numbers=[1,1,2,3,3,4,5,6]">
      <ul>
        <li ng-repeat="number in numbers track by $index">
          {{ number }}
        </li>
      </ul>
    </div>

    <div ng-init="keys={title: 'Mike is awesome', value: '34', wasted: true}">
      <ul>
        <li ng-repeat="(key, value) in keys">
          {{ key | uppercase }}: {{ value }}
        </li>
      </ul>
    </div>

    <div ng-show='3 + 4 == 5'>
      3 + 4 isn't 5, don't show
    </div>

    <div ng-show='3 + 4 == 7'>
      3 + 4 is 7, do show
    </div>

    <div ng-hide='3 + 4 == 5'>
        3 + 4 isn't 5, don't hide
    </div>

    <div ng-hide='3 + 4 == 7'>
      3 + 4 is 7, do hide
    </div>

    <h1>Sign Up Page</h1>
    <input type="password" ng-model="password" ng-class="{green: password.length >= 6, red: password.length < 6}"/>
    <p ng-class="{red: password.length < 6, green: password.length >= 6}">
      Your password is {{ password.length || 0 }} characters.
    </p>
    <button type="submit" ng-show="password.length >= 6">Sign Up</button>

    <div ng-class='{highlight: 4 + 4 == 8}'> 4 + 4 = 8</div>
    <div ng-class='{highlight: 4 + 4 == 10}'>4 + 4 = 10</div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </body>
</html>
